@model IEnumerable<Order>

<div class="row">
    <div class="col-md-6">
        <h2>주문 내역</h2>
        <table style="width: 900px; margin-right:auto;">
            <tr>
                <td>
                    <table class="table table-bordered table-hover table-condensed table-striped table-responsive">
                        <tr style="background-color:rgb(222,222,222)">
                            <th style=width:100px; text-align:center;>
                                상품코드
                            </th>
                            <th style=width:360px; text-align:center;>
                                상품명
                            </th>
                            <th style=width:100px; text-align:center;>
                                가격
                            </th>
                            <th style=width:100px; text-align:center;>
                                주문수량
                            </th>
                            <th style=width:100px; text-align:center;>
                                주문현황
                            </th>
                            <th style=width:100px; text-align:center;>
                                지불
                            </th>
                            <th style=width:300px; text-align:center;>
                                날짜
                            </th>
                        </tr>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @item.Id

                            </td>
                            <td>
                                @item.Name

                            </td>
                            <td>
                                @item.Price

                            </td>
                            <td>
                                @item.Account

                            </td>
                            <td>
                                @item.State
                            </td>
                            <td>
                                @item.Pay
                            </td>
                            <td>
                                @item.Date
                            </td>

                        </tr>
                        }
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
