@model Note
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){

	// .check 클래스 중 어떤 원소가 체크되었을 때 발생하는 이벤트

	$(".Finned").click(function(){  // 여기서 .click은 체크박스의 체크를 뜻한다.
        
        if($(this).is(":checked")) { // ":checked"를 이용하여 체크가 되어있는지 아닌지 확인한다.
            var str = "Notice";
            $("#Category").val(str);
        }
        else
        {
            var str = "Free";
		    $("#Category").text(str);  // #multiPrint에 체크된 원소를 출력한다.
        }

	});
});

</script>

<html>
    <table style="width: 800px; margin:auto;">

        <tr>
            <td>
                <a asp-area="" asp-controller="Note" asp-action="Index">게시판으로 돌아가기</a>
                <br /><br />
            </td>
        </tr>
        <tr>
            <td style="width: 800px;">
                <h2 style="display:inline">@ViewBag.TitleDescription</h2>
                <input type="submit" value="저장"
                       class="btn btn-primary" style="float:right; " />
                <hr style="background-color:#000000; height:1px;" />
                <input type="hidden" name="Name" value="@User.Claims.FirstOrDefault(c => c.Type.Contains("Name")).Value" />
                <input type="hidden" name="RegiNum" value="@User.Claims.FirstOrDefault(c => c.Type.Contains("RegiNum")).Value" />
                <input asp-for="Title" class="form-control" style="width:700px;" placeholder="제목을 입력하세요." />
                <span asp-validation-for="Content" class="text-danger"></span>
                <br />
                <label asp-for="FileName"></label>
                <input type="file" name="files" value=""
                       style="width:200px; display:inline-block;" />
                @if (ViewBag.FileSize > 0)
                {
                    <br />
                    @ViewBag.FileNamePrevious
                }
                <input type="hidden" name="previousFileName"
                       value="@ViewBag.FileName" />
                <input type="hidden" name="previousFileSize"
                       value="@ViewBag.FileSize" />
                <input type="hidden" name="Encoding"
                       value="Text" />
                @if (User.Claims.FirstOrDefault(c => c.Type.Contains("Name")).Value == "Admin")
                {
                    <input type="checkbox" class="Finned" style="float:right; " />
                    <label style="float:right;">
                        공지로 올리기
                    </label>
                    <input type="hidden" id="Category" name="Category"/>
                }
            </td>
        </tr>
        <tr style="height:400px;">
            <td>
                <textarea asp-for="Content" class="form-control"
                          style="width:800px; height:400px; resize:none;"></textarea>
            </td>
        </tr>
    </table>
</html>



