@using Franchise.Dul

@model IEnumerable<Note>

@inject INoteRepository DnnRepo


<style>
    .title {
        text-align: center;
        border-right: 1px solid #ccc;
    }
</style>


<h2 style="text-align:center;">게시판</h2>
<table style="width: 900px; margin-left:auto; margin-right:auto;">
    <tr>
        <td>
            <table class="table table-bordered table-hover table-condensed
                   table-striped table-responsive">
                <tr style="background-color:rgba(222,222,222,0.5);">
                    <th class="title" style="padding:10px; width:60px;">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th class="title" style="padding:10px;">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th class="title" style="padding:10px; width:50px;">
                        @Html.DisplayNameFor(model => model.FileName)
                    </th>
                    <th class="title" style="padding:10px; width:100px;">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="title" style="padding:10px; width:100px;">
                        @Html.DisplayNameFor(model => model.PostDate)
                    </th>
                    <th style="text-align:center; padding:10px 0; width:70px;">
                        @Html.DisplayNameFor(model => model.ReadCount)
                    </th>
                </tr>
                    @foreach (var item in
                    DnnRepo.GetNoteSummaryByCategory("Notice").Take(5))
                    {
                        <tr>
                            <td style="text-align:center;">
                                <span class="label label-success"
                                      style="font-size:xx-small">NOTICE</span>
                            </td>
                            <td>
                                @Html.Raw(BoardLibrary.FuncStep(item.Step))
                                <a asp-controller="Note"
                                   asp-action="NoteDetail"
                                   asp-route-id="@item.Id">
                                    <strong>
                                        @StringLibrary.CutStringUnicode(
                                        item.Title,30)
                                    </strong>
                                </a>
                                <small>
                                    @Html.Raw(BoardLibrary.ShowCommentCount(
                                    item.CommentCount))
                                </small>
                                @Html.Raw(BoardLibrary.FuncNew(item.PostDate))
                            </td>
                            <td style="text-align:center;">
                                @Html.Raw(BoardLibrary.FuncFileDownSingle(item.Id, item.FileName,
                                item.FileSize.ToString()))
                            </td>
                            <td style="text-align:center;">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td style="text-align:center;">
                                @BoardLibrary.FuncShowTime(item.PostDate)
                            </td>
                            <td style="text-align:right;">
                                @Html.DisplayFor(modelItem => item.ReadCount)
                            </td>
                        </tr>
                    }
                @if(Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center;">
                                @if (item.Step == 0)
                                {
                                    @Html.DisplayFor(modelItem => item.Id)
                                }
                                else
                                {
                                    <text>&nbsp;</text>
                                }
                            </td>
                            <td>
                                @Html.Raw(BoardLibrary.FuncStep(item.Step))
                                <a asp-area="" asp-controller="Note" asp-action="NoteDetail" asp-route-id="@item.Id">
                                    @StringLibrary.CutStringUnicode(item.Title, 30)
                                </a>
                                <small>
                                    @Html.Raw(BoardLibrary.ShowCommentCount(
                                        item.CommentCount))
                                </small>
                                @Html.Raw(BoardLibrary.FuncNew(item.PostDate))
                            </td>
                            <td style="text-align:center;">
                                @Html.Raw(BoardLibrary.FuncFileDownSingle(item.Id,
                                    item.FileName, item.FileSize.ToString()))
                            </td>
                            <td style="text-align:center;">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td style="text-align:center;">
                                @BoardLibrary.FuncShowTime(item.PostDate)
                            </td>
                            <td style="text-align:right;">
                                @Html.DisplayFor(modelItem => item.ReadCount)
                            </td>
                        </tr>
                    }
                }
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            <dnn-paging-helper url="@Context.Request.Path"
                               page-index='Convert.ToInt32(Context.Request.Query["Page"])'
                               page-size="10"
                               record-count="@ViewBag.TotalRecord"
                               search-mode='Convert.ToBoolean(@ViewBag.SearchMode)'
                               search-field="@ViewBag.SearchField"
                               search-query="@ViewBag.SearchQuery">
            </dnn-paging-helper>
        </td>
    </tr>
    <tr>
        <td style="text-align:right;">
            <a asp-controller="Note" asp-action="Create" class="btn btn-primary">글쓰기</a>
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            @Html.Partial("_SearchForm")
            <br />
            @if (ViewBag.SearchMode)
            {
                <a asp-controller="" asp-action=""
                   class="btn btn-success">검색 완료</a>
            }
        </td>
    </tr>
</table>



@section Scripts {
    @if (TempData["Message"] != null)
    {
        <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
        <script src="~/lib/toastr/toastr.js"></script>
        <script>
            $(function () {
                toastr.info('@TempData["Message"]');
            });
        </script>
    }
}
